#resultContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#resultContainer.hidden {
    display: none;
}

#resultContainer .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #5DA9C1;
    max-width: 60%;
    min-height: 50%;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 0px 5px #313131;
    transition: 0.3s;
}

#resultContainer h1, 
#resultContainer h2 {
    color: #000000;
}

#resultContainer h2 {
    margin: 20px 10px 10px 10px;
}

.close {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 3px 8px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.close:hover {
    color: #5DA9C1;
    background-color: #ffffff;
}


.progressBarContainer {
    background-color: #5DA9C1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.progressBarContent {
    width: 400px;
    height: fit-content;
    display: flex;
    justify-content: flex-end;
    font-size: 1.6rem;
    position: relative;
    margin: 10px auto;
    padding: 0;
}

.progressBar {
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 15px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #000000;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .percent {
    height: 20px;
    width: fit-content;    
    position: absolute;
    top: 0;
    right: 90px;
    color: #ffffff;
} */

.progressText {
    color: #000000;
    font-weight: 600;
    display: inline-block;
    width: 100%;
}


.barStyle {
    height: 100%;
    background-color: #285B6C;
    transition: width 0.5s;
}

/* Media queries */
@media only screen and (max-width: 768px) {
    #resultContainer h1 {
        font-size: 3.5rem;
        margin: 50px 5px 5px 5px;
    }

    .progressBarContainer {
        margin-left: 50px;
    }

    .progressBarContent {
        flex-direction: column;
        justify-content: center;
        width: 300px;    
    }

    .progressText {
        text-align: left;
    }

    .progressBar {
        margin-left: 20px;
        width: 150px;
    }

    /* .percent {
        display: none;
    } */
}
