/* Form styles */

.mediaTitle {
    border: 1px solid #000;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin: 0;
    padding: 10px;
    display: inline-block;
    width: 100%;
}

.formComponent h2 {
    margin: 10vh auto;
    width: 80%;
}

form {
    margin: 0 auto;
    padding-top: 20px;
}

form label,
form input,
form button {
    font-size: 2rem;
}

form input {
    margin: 0 10px;
}

form button {
    border: 1px solid #000;
    padding: 5px;
    transition: 0.2s;
}

form button:hover {
    background-color: #000;
    color: #FFF;
}

.formH3 {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    border: 1px solid #000;
    border-radius: 15px;
    display: inline-block;
    padding: 10px;
    width: calc(100% - 20px);
}

.mediaListFlex {
    display: flex;
}

@media only screen and (max-width: 768px) {
    .mediaListFlex {
        display: block;
    }
  }
