/* Form styles */
.searchBar {
    width: 100%;
    height: 100%;
    background-color: #F4E6E8;
    box-shadow: 0px 0px 10px #888888;
    z-index: 0;
    position: relative;
}


.formComponent h2 {
    margin: 10vh auto;
    width: 80%;
    font-weight: 700;
    border: 1px solid #000;
    border-radius: 15px;
    padding: 10px;
}

form {
    margin: 0 auto;
    padding: 12px;
    min-width: 40vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

form label {
    color: #5DA9C1;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

form input {
    color: #000;
    font-size: 1.6rem;
    padding: 5px;
    border-radius: 5px;
    border: 0;
    margin: 0 10px;
}

form input:focus {
    outline: 2px solid #5DA9C1;
}

form button {
    font-size: 2rem;
    text-transform: uppercase;
}

form button {
    color: #ffffff;
    border: 1px solid #5DA9C1;
    border-radius: 10px;
    padding: 5px 20px;
    transition: 0.2s;
    background-color: #5DA9C1;
}

form button:hover {
    color: #5DA9C1;
    border: 1px solid #ffffff;
    background-color: #ffffff;
}

.formH3 {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    border: 1px solid #000;
    border-radius: 15px;
    display: inline-block;
    padding: 10px;
    width: calc(100% - 20px);
}

.mediaListFlex {
    display: flex;
}

@media only screen and (max-width: 768px) {
    .mediaListFlex {
        display: block;
    }

    form {
        flex-direction: column;
    }

    form label,
    form input,
    form button {
        margin-top: 10px;
    }
  }