.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .logo {
    height: 80px;
    margin-right: 15px;
    margin-top: 15px;
    border-radius: 50%;

}

.header .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header span {
    font-weight: bold;
}

.header h1 {
    margin: 4rem 0 0 0;
}

.header h2 {
    margin-bottom: 3rem;
}
