.headerBg {
    background-color: #5da9c2;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0px 30px 0px;
    min-height: 20vh;
}

.header .logo {
    height: 80px;
    margin-right: 2rem;
    margin-top: 2rem;
    border: 0px;

}

.header .textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header span {
    font-weight: bold;
}

.header h1 {
    margin: 4rem 0 0 0;
}

.header h2 {
    margin-bottom: 3rem;
}

.header h2 a {
    text-decoration: none;
    color: #000000;
}

.header h2 a:hover {
    text-decoration: none;
    color: #000000;
}

.banner {
    background-color: #5DA9C1;
    height: 150px;
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bannerContent {
    background-color: #5DA9C1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bannerText h1,h2 {
    margin: 0;
}

.bannerContent img {
    padding-right: 30px;
}

@media only screen and (max-width: 768px) {
    .header {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    
    .textContainer h1 {
        margin: 0;
    }
}