/* Media (Movie.js / Book.js) styles */

.mediaTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin: 0;
    padding: 10px;
    display: inline-block;
    width: 100%;
}

.mediaLi {
    margin-bottom: 5px;
}

.mediaLi button {
    border: 1px solid #000;
    border-radius: 15px;
    padding: 5px;
    transition: 0.2s;
}

.mediaLi button:hover {
    background-color: #000;
    color: #FFF;
}

.mediaBox {
    display: flex;
    margin: 20px;
    height: 150px;
}

.mediaBox h4,
.mediaBox h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

.mediaBox figure,
.mediaBox h4,
.mediaBox h5 {
    margin: 0 auto;
}

.mediaBox figure {
    width: 25%;
}

.listImg {
    width: fit-content;
    height: 152px;
    border: 1px solid #FFF;
    border-radius: 15px;
}

.listImg img {
    height: 150px;
    margin: 0 auto;
}

.listTitleSort {
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.listTitleSort h4 {
    display: inline-block;
}

.listTitleSort h5 {
    font-weight: 400;
    display: inline-block;
    margin-top: 10px;
}

.mediaListDescription {
    font-weight: 400;
    width: calc(50% - 10px);
    height: 150px;
    padding-left: 10px;
    overflow-y: scroll;
    text-overflow: ellipsis;
    text-align: left;
}

@media only screen and (max-width: 768px) {
    .moviesTitle {
        margin-top: 20px;
    }
  }